.contact-main {
  position: relative;
  margin-bottom: 120px;
  padding: 0 15px;
}

.contact-main_content {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 80px;
}

.contact-main_content-title {
  margin-top: 0;
  text-align: center;
}

.contact-main_content-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-main_list-item {
  list-style-type: none;
  display: flex;
  width: 240px;
}

.contact-main_item-img {
  width: 40px;
  height: 40px;
  margin-right: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.contact-main_item-content {
  flex: 1;
}

.contact-main_item-content-title {
  font-family: 'PT Serif Caption', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 15px;
}

.contact-main_content-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #000000;
}