.main-btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #FFFFFF;
  padding: 12px 36px;
  background-color: #E6C292;
  border: 2px solid #E6C292;
  box-shadow: 0px 5px 20px rgba(50, 50, 50, 0.15);
  transition: 0.3s;
}

.main-btn:hover {
  color: #161B1F;
  background-color: #FEF0CA;
  transition: 0.3s;
}