.price_wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 100px;
}

.price_title {
  text-align: center;
  margin: 60px 0;
}

.price_list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 540px;

  li {
    list-style-type: none;
  }
}

.price_list-item {
  border: 1px solid #161B1F;
  box-sizing: border-box;
  height: min-content;
  max-width: 370px;
  min-width: 260px;
  position: relative;
  min-height: 370px;
  transition: 0.3s;
  margin-bottom: 30px;
}

.price_item-header {
  position: relative;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #161B1F;
}

.price_header-decor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 9%;
  background: linear-gradient(180deg, #161B1F 0%, #35414B 100%);
  transition: 0.3s;
}

.price_header-title {
  font-family: 'PT Serif Caption', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #161B1F;
  margin-bottom: 10px;
  position: relative;
  z-index: 9;
  transition: 0.3s;
}

.price_header-price {
  font-family: 'PT Serif Caption', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 32px;
  text-align: center;
  color: #161B1F;
  position: relative;
  z-index: 9;
  transition: 0.3s;
}

.price_item-content {
  padding: 30px;
}

.price_content-list {
  padding: 0;
  margin: 0;
}

.price_content-list-item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 20px;
  padding-left: 30px;
  position: relative;
}

.price_content-list-item::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url('../images/icons/v.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.price_btn {
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #E6C292;
  padding: 14px 70px;
  box-sizing: border-box;
  width: min-content;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}


.price_list-item:hover {
  min-height: 500px;

  .price_header-decor {
    height: 100%;
  }

  .price_header-title,
  .price_header-price {
    color: #fff;
  }

  .price_btn {
    opacity: 1;
    pointer-events: all;
    transition-delay: 0.1s;
  }
}

@media screen and (max-width: 768px) {
  .price_list-item {
    min-height: 500px;
    min-width: 100%;
  }

  .price_btn {
    opacity: 1;
  }

  .price_content-list {
    width: max-content;
    margin: 0 auto;
  }
}

@media screen and (max-width: 540px) {
  .price_content-list {
    width: 100%;
  }
}