.service-page_wrap {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  margin-top: 60px;
}

.service-page_main {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.service-page_item-img {
  width: 170px;
  height: 170px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.1;
  }
}

.service-page_common-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #000000;

  ul {
    padding-left: 20px;

    li {
      margin-bottom: 10px;
    }
  }
}

.service-page_item-content {
  flex: 1;
}

.service-page_content-title {
  font-family: 'PT Serif Caption', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  color: #161B1F;
  margin-bottom: 30px;
}

.service-page_content-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #4F4F4F;
}

.services-page_description {
  margin: 0;
  padding: 30px 60px;
  box-shadow: 0px 5px 20px rgba(50, 50, 50, 0.15);
  margin-bottom: 60px;

  li {
    list-style-type: none;
  }
}

.services-page_description-title {
  font-family: 'PT Serif Caption', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #161B1F;
  margin-bottom: 30px;
}

.services-page_description-item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 20px;
  padding-left: 30px;
  position: relative;
}

.services-page_description-item::after {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  background-image: url('../images/icons/check.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 550px) {
  .service-page_main {
    flex-direction: column;
    text-align: center;
  }

  .service-page_content-title {
    font-size: 30px;
    margin: 30px 0;
  }

  .services-page_description {
    padding: 30px;
  }
}