<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Tehno-Dnepr || Каталог
    link(rel="stylesheet", href="assets/styles/app.min.css")
  body
    .wrapper
      include ../includes/header.pug  
      main.main
        .breadcrumbs
          ul.breadcrumbs_list
            li.breadcrumbs_list-item
              a(href="index.html").breadcrumbs_item-link Главная
            li.breadcrumbs_list-item
              a(href="catalog-list.html").breadcrumbs_item-link Товары
            li.breadcrumbs_list-item
              .breadcrumbs_item-text Гробы 
        section.catalog
          .catalog_wrap
            ul.catalog_categories
              li.catalog_categories-btn
              li.catalog_categories-item
                .catalog_categories-item-title категории
              li.catalog_categories-item  
                a(href="#").catalog_categories-link.catalog_categories-link--active Гробы
              li.catalog_categories-item  
                a(href="#").catalog_categories-link Венки
              li.catalog_categories-item  
                a(href="#").catalog_categories-link Кресты
              li.catalog_categories-item  
                a(href="#").catalog_categories-link Атрибутика
            .catalog_list-wrap
              ul.catalog_list.catalog_list--active
                li.last-product_item
                  .last-product_item-img
                    img(src="assets/images/content/grob.png", alt="product")
                  .last-product_item-text Название товара
                  .last-product_item-price 1000 грн
                  a(href="product.html").last-product_btn Подробнее
                li.last-product_item
                  .last-product_item-img
                    img(src="assets/images/content/grob.png", alt="product")
                  .last-product_item-text Название товара
                  .last-product_item-price 1000 грн
                  a(href="product.html").last-product_btn Подробнее
                li.last-product_item
                  .last-product_item-img
                    img(src="assets/images/content/grob.png", alt="product")
                  .last-product_item-text Название товара
                  .last-product_item-price 1000 грн
                  a(href="product.html").last-product_btn Подробнее
                li.last-product_item
                  .last-product_item-img
                    img(src="assets/images/content/grob.png", alt="product")
                  .last-product_item-text Название товара
                  .last-product_item-price 1000 грн
                  a(href="#").last-product_btn Подробнее
                li.last-product_item
                  .last-product_item-img
                    img(src="assets/images/content/grob.png", alt="product")
                  .last-product_item-text Название товара
                  .last-product_item-price 1000 грн
                  a(href="#").last-product_btn Подробнее
                li.last-product_item
                  .last-product_item-img
                    img(src="assets/images/content/grob.png", alt="product")
                  .last-product_item-text Название товара
                  .last-product_item-price 1000 грн
                  a(href="#").last-product_btn Подробнее
                li.last-product_item
                  .last-product_item-img
                    img(src="assets/images/content/grob.png", alt="product")
                  .last-product_item-text Название товара
                  .last-product_item-price 1000 грн
                  a(href="#").last-product_btn Подробнее
        section.last-product--catalog-ps
          include ../includes/_last-product.pug 
        section.seo-text
          .seo-text_wrap
            .seo-text_btn
            .seo-text_title Как мы изготавливаем гробы?
            .seo-text_content Для изготовления гробов применяется древесина сосны и ели, реже липы и осины. Иногда гробы делают из цинка - если останки умершего планируется везти куда-либо поездом или самолётом, цинковое изделие запаивается герметично и не пропускает запах разложения. Однако цинковые гробы весят значительно больше деревянных аналогов, поэтому деревянные, сделанные из древесины сосны либо ели. Для изготовления гробов применяется древесина сосны и ели, реже липы и осины. Иногда гробы делают из цинка - если останки умершего планируется везти куда-либо поездом или самолётом, цинковое изделие запаивается герметично и не пропускает запах разложения. Однако цинковые гробы весят значительно больше деревянных аналогов, поэтому деревянные, сделанные из древесины сосны либо ели.Для изготовления гробов применяется древесина сосны и ели, реже липы и осины. Иногда гробы делают из цинка - если останки умершего планируется везти куда-либо поездом или самолётом, цинковое изделие запаивается герметично и не пропускает запах разложения. Однако цинковые гробы весят значительно больше деревянных аналогов, поэтому деревянные, сделанные из древесины сосны либо ели. Для изготовления гробов применяется древесина сосны и ели, реже липы и осины. Иногда гробы делают из цинка - если останки умершего планируется везти куда-либо поездом или самолётом, цинковое изделие запаивается герметично и не пропускает запах разложения. Однако цинковые гробы весят значительно больше деревянных аналогов, поэтому деревянные, сделанные из древесины сосны либо ели. Для изготовления гробов применяется древесина сосны и ели, реже липы и осины. Иногда гробы делают из цинка - если останки умершего планируется везти куда-либо поездом или самолётом, цинковое изделие запаивается герметично и не пропускает запах разложения. Однако цинковые гробы весят значительно больше деревянных аналогов, поэтому деревянные, сделанные из древесины сосны либо ели.
      include ../includes/footer.pug   