<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Эдем || Цены
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
    link(rel="stylesheet", href="assets/styles/app.min.css")
  body
    .wrapper
      include ../includes/header.pug  
      section.product-category_catalog-list-ps
        h4.product-category_title Категории товаров
        include ../includes/_product-categories.pug  
      section.last-product--main-ps
        include ../includes/_last-product.pug 
      section.seo-text
        .seo-text_wrap
          .seo-text_btn
          .seo-text_title Как мы изготавливаем гробы?
          .seo-text_content Для изготовления гробов применяется древесина сосны и ели, реже липы и осины. Иногда гробы делают из цинка - если останки умершего планируется везти куда-либо поездом или самолётом, цинковое изделие запаивается герметично и не пропускает запах разложения. Однако цинковые гробы весят значительно больше деревянных аналогов, поэтому деревянные, сделанные из древесины сосны либо ели. Для изготовления гробов применяется древесина сосны и ели, реже липы и осины. Иногда гробы делают из цинка - если останки умершего планируется везти куда-либо поездом или самолётом, цинковое изделие запаивается герметично и не пропускает запах разложения. Однако цинковые гробы весят значительно больше деревянных аналогов, поэтому деревянные, сделанные из древесины сосны либо ели.Для изготовления гробов применяется древесина сосны и ели, реже липы и осины. Иногда гробы делают из цинка - если останки умершего планируется везти куда-либо поездом или самолётом, цинковое изделие запаивается герметично и не пропускает запах разложения. Однако цинковые гробы весят значительно больше деревянных аналогов, поэтому деревянные, сделанные из древесины сосны либо ели. Для изготовления гробов применяется древесина сосны и ели, реже липы и осины. Иногда гробы делают из цинка - если останки умершего планируется везти куда-либо поездом или самолётом, цинковое изделие запаивается герметично и не пропускает запах разложения. Однако цинковые гробы весят значительно больше деревянных аналогов, поэтому деревянные, сделанные из древесины сосны либо ели. Для изготовления гробов применяется древесина сосны и ели, реже липы и осины. Иногда гробы делают из цинка - если останки умершего планируется везти куда-либо поездом или самолётом, цинковое изделие запаивается герметично и не пропускает запах разложения. Однако цинковые гробы весят значительно больше деревянных аналогов, поэтому деревянные, сделанные из древесины сосны либо ели.
      include ../includes/footer.pug   