<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Эдем || Закон Украины О погребении и похоронном деле
        link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
        link(rel="stylesheet", href="assets/styles/app.min.css")
    body
        .wrapper
            include ../includes/header.pug  
            .breadcrumbs
              ul.breadcrumbs_list
                li.breadcrumbs_list-item
                  a(href="index.html").breadcrumbs_item-link Главная
                li.breadcrumbs_list-item
                  a(href="services.html").breadcrumbs_item-link Услуги
                li.breadcrumbs_list-item
                  .breadcrumbs_item-text Закон Украины О погребении и похоронном деле
            main
              section.service-page
                .service-page_wrap
                  .service-page_main
                    .service-page_item-img
                      img(src="assets/images/icons/information-symbol.svg", alt="services")
                    .service-page_item-content
                      .service-page_content-title Закон Украины О погребении и похоронном деле
                      .service-page_content-text { В тексте Закона слова "специально уполномоченный центральный орган исполнительной власти в сфере жилищно-коммунальной политики Украины" в всех падежах заменено словами "центральный орган исполнительной власти, обеспечивающий формирование государственной политики в сфере жилищно-коммунального хозяйства" в соответствующем падеже согласно Закону N 5459-VI ( 5459-17 ) от 16.10.2012 }
              section.law_wrap
                aside.law-tabs
                  ul.law-tabs_wrap
                    li.law-tabs_item.law-tabs_item--active Раздел I
                    li.law-tabs_item Раздел II
                    li.law-tabs_item Раздел III
                    li.law-tabs_item Раздел IV
                    li.law-tabs_item Раздел V
                    li.law-tabs_item Раздел VI
                ul.law-list
                  li.law-list_item.law-list_item--active
                    .law-list_item-title Раздел I. ОБЩИЕ ПОЛОЖЕНИЯ
                    .law-list_item-text Статья 1. Понятие погребения. Захоронения - деятельность соответствующих органов государственной власти, органов местного самоуправления, их должностных лиц в пределах полномочий, определенных настоящим Законом, а также субъектов хозяйствования, направленная на: •	обеспечение должного отношения к тела (останков, праха) умершего (далее - тела); •	обеспечение права граждан на погребение их тела согласно их волеизъявления, если такое есть; •	создание и эксплуатацию объектов, предназначенных для захоронения, содержание и сохранение мест захоронений; •	организацию и проведение погребений умерших и/или погибших (далее - умерших); •	предоставление ритуальных услуг, реализацию предметов ритуальной принадлежности.
                  li.law-list_item
                    .law-list_item-title Раздел II. ОБЩИЕ ПОЛОЖЕНИЯ
                    .law-list_item-text Статья 1. Понятие погребения. Захоронения - деятельность соответствующих органов государственной власти, органов местного самоуправления, их должностных лиц в пределах полномочий, определенных настоящим Законом, а также субъектов хозяйствования, направленная на: •	обеспечение должного отношения к тела (останков, праха) умершего (далее - тела); •	обеспечение права граждан на погребение их тела согласно их волеизъявления, если такое есть; •	создание и эксплуатацию объектов, предназначенных для захоронения, содержание и сохранение мест захоронений; •	организацию и проведение погребений умерших и/или погибших (далее - умерших); •	предоставление ритуальных услуг, реализацию предметов ритуальной принадлежности.
                  li.law-list_item
                    .law-list_item-title Раздел III. ОБЩИЕ ПОЛОЖЕНИЯ
                    .law-list_item-text Статья 1. Понятие погребения. Захоронения - деятельность соответствующих органов государственной власти, органов местного самоуправления, их должностных лиц в пределах полномочий, определенных настоящим Законом, а также субъектов хозяйствования, направленная на: •	обеспечение должного отношения к тела (останков, праха) умершего (далее - тела); •	обеспечение права граждан на погребение их тела согласно их волеизъявления, если такое есть; •	создание и эксплуатацию объектов, предназначенных для захоронения, содержание и сохранение мест захоронений; •	организацию и проведение погребений умерших и/или погибших (далее - умерших); •	предоставление ритуальных услуг, реализацию предметов ритуальной принадлежности.
                  li.law-list_item
                    .law-list_item-title Раздел I. ОБЩИЕ ПОЛОЖЕНИЯ
                    .law-list_item-text Статья 1. Понятие погребения. Захоронения - деятельность соответствующих органов государственной власти, органов местного самоуправления, их должностных лиц в пределах полномочий, определенных настоящим Законом, а также субъектов хозяйствования, направленная на: •	обеспечение должного отношения к тела (останков, праха) умершего (далее - тела); •	обеспечение права граждан на погребение их тела согласно их волеизъявления, если такое есть; •	создание и эксплуатацию объектов, предназначенных для захоронения, содержание и сохранение мест захоронений; •	организацию и проведение погребений умерших и/или погибших (далее - умерших); •	предоставление ритуальных услуг, реализацию предметов ритуальной принадлежности.
                  li.law-list_item
                    .law-list_item-title Раздел I. ОБЩИЕ ПОЛОЖЕНИЯ
                    .law-list_item-text Статья 1. Понятие погребения. Захоронения - деятельность соответствующих органов государственной власти, органов местного самоуправления, их должностных лиц в пределах полномочий, определенных настоящим Законом, а также субъектов хозяйствования, направленная на: •	обеспечение должного отношения к тела (останков, праха) умершего (далее - тела); •	обеспечение права граждан на погребение их тела согласно их волеизъявления, если такое есть; •	создание и эксплуатацию объектов, предназначенных для захоронения, содержание и сохранение мест захоронений; •	организацию и проведение погребений умерших и/или погибших (далее - умерших); •	предоставление ритуальных услуг, реализацию предметов ритуальной принадлежности.
                  li.law-list_item
                    .law-list_item-title Раздел I. ОБЩИЕ ПОЛОЖЕНИЯ
                    .law-list_item-text Статья 1. Понятие погребения. Захоронения - деятельность соответствующих органов государственной власти, органов местного самоуправления, их должностных лиц в пределах полномочий, определенных настоящим Законом, а также субъектов хозяйствования, направленная на: •	обеспечение должного отношения к тела (останков, праха) умершего (далее - тела); •	обеспечение права граждан на погребение их тела согласно их волеизъявления, если такое есть; •	создание и эксплуатацию объектов, предназначенных для захоронения, содержание и сохранение мест захоронений; •	организацию и проведение погребений умерших и/или погибших (далее - умерших); •	предоставление ритуальных услуг, реализацию предметов ритуальной принадлежности.
            include ../includes/footer.pug  