<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Эдем || Цены
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
    link(rel="stylesheet", href="assets/styles/app.min.css")
  body
    .wrapper
      include ../includes/header.pug  
      .form-popup_wrap
        .form-popup
          .form-popup_cross
          .form-popup_title Оставьте заявку для заказа
          .form-popup_form
            form(action="#", method="post")
              label
                input(type="text" placeholder="Имя").form-popup_input
                div Как к Вам можно обращаться
              label
                input(type="text" placeholder="Телефон").form-popup_input
                div Мы свяжеся с Вами в самое ближайшее время
              label
                textarea(name="" placeholder="Комментарий").form-popup_input
                div Опишите, что Вас интересует
              button(type="submit").form-popup_btn отправить
      section.price
        .breadcrumbs
          ul.breadcrumbs_list
            li.breadcrumbs_list-item
              a(href="index.html").breadcrumbs_item-link Главная
            li.breadcrumbs_list-item
              .breadcrumbs_item-text Цены
        .price_wrap
          h4.price_title Таблица цен
          ul.price_list
            li.price_list-item
              .price_item-header
                .price_header-decor
                .price_header-title Только кремация
                .price_header-price 7 450 грн
              .price_item-content
                ul.price_content-list
                  li.price_content-list-item Услуги директора и персонала
                  li.price_content-list-item Первоначальный перевод умершего
                  li.price_content-list-item Служба бальзамирования
                  li.price_content-list-item Одевание и косметика
                  li.price_content-list-item Перевозка цветов
              a(href="#").price_btn заказать
            li.price_list-item
              .price_item-header
                .price_header-decor
                .price_header-title Делюкс кремация
                .price_header-price 10 568 грн
              .price_item-content
                ul.price_content-list
                  li.price_content-list-item Услуги директора и персонала
                  li.price_content-list-item Первоначальный перевод умершего
                  li.price_content-list-item Служба бальзамирования
                  li.price_content-list-item Одевание и косметика
                  li.price_content-list-item Перевозка цветов
              a(href="#").price_btn заказать
            li.price_list-item
              .price_item-header
                .price_header-decor
                .price_header-title Традиционные похороны
                .price_header-price 5 550 грн
              .price_item-content
                ul.price_content-list
                  li.price_content-list-item Услуги директора и персонала
                  li.price_content-list-item Первоначальный перевод умершего
                  li.price_content-list-item Служба бальзамирования
                  li.price_content-list-item Одевание и косметика
                  li.price_content-list-item Перевозка цветов
              a(href="#").price_btn заказать
      include ../includes/footer.pug   