<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Эдем || Имя товара
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
    link(rel="stylesheet", href="assets/styles/app.min.css")
  body
    .wrapper
      include ../includes/header.pug  
      main.main
        .breadcrumbs
          ul.breadcrumbs_list
            li.breadcrumbs_list-item
              a(href="index.html").breadcrumbs_item-link Главная
            li.breadcrumbs_list-item
              a(href="catalog-list.html").breadcrumbs_item-link Товары
            li.breadcrumbs_list-item
              a(href="catalog.html").breadcrumbs_item-link Гробы
            li.breadcrumbs_list-item
              .breadcrumbs_item-text Элитный гроб
        .main-product
          .main-product_wrap
            .main-product_gallery
              .main-product_gallery-main
                .main-product_gallery-item-wrap
                  .main-product_gallery-item
                    img(src="assets/images/content/grob.png", alt="product")
                .main-product_gallery-item-wrap
                  .main-product_gallery-item
                    img(src="assets/images/content/grob.png", alt="product")
                .main-product_gallery-item-wrap
                  .main-product_gallery-item
                    img(src="assets/images/content/grob.png", alt="product")
              .main-product_gallery-nav
                .main-product_gallery-nav-wrap
                  .main-product_gallery-nav-item
                    img(src="assets/images/content/grob.png", alt="product-nav")
                .main-product_gallery-nav-wrap
                  .main-product_gallery-nav-item
                    img(src="assets/images/content/grob.png", alt="product-nav")
                .main-product_gallery-nav-wrap
                  .main-product_gallery-nav-item
                    img(src="assets/images/content/grob.png", alt="product-nav")
            .main-product_description
              .main-product_description-title Элитный гроб, модель Lux
              .main-product_description-subtitle Артикул № 125678
              .main-product_description-price 5 260 грн
              .main-product_description-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
          .main-product_tabs
            ul.main-product_tabs-description
              li.main-product_tabs-description-text
                .main-product_tabs-text-title Характеристики
                .main-product_tabs-text-wrap
                  .main-product_tabs-text-content Производитель
                  .main-product_tabs-text-decor
                  .main-product_tabs-text-data Master Wood
                .main-product_tabs-text-wrap
                  .main-product_tabs-text-content Страна производитель
                  .main-product_tabs-text-decor
                  .main-product_tabs-text-data Украина
                .main-product_tabs-text-wrap
                  .main-product_tabs-text-content Материал
                  .main-product_tabs-text-decor
                  .main-product_tabs-text-data Дерево
                .main-product_tabs-text-wrap
                  .main-product_tabs-text-content Обивка
                  .main-product_tabs-text-decor
                  .main-product_tabs-text-data Отсутствует
                .main-product_tabs-text-wrap
                  .main-product_tabs-text-content Материал
                  .main-product_tabs-text-decor
                  .main-product_tabs-text-data Сосна
                .main-product_tabs-text-wrap
                  .main-product_tabs-text-content Размер
                  .main-product_tabs-text-decor
                  .main-product_tabs-text-data 2х0,77х0,42 м
              li.main-product_tabs-description-text 
                .main-product_tabs-text-title Описание
                div Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
        .form.form--product
          h4.form_title Оставьте заявку для заказа товара
          .form_content
            form(action="#", method="post").form_wrap
              .form_area
                  input(type="text" placeholder="Имя")
                  input(type="text" placeholder="Телефон")
                  textarea(name="#" placeholder="Комментарий")
                  button(type="submit").form_btn Отправить   
          p.form_footer Оставьте свои данные и мы свяжемся с вами в ближайшее время.             
      include ../includes/footer.pug  