<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Эдем || Ритуальный агент в Днепре
    link(rel="stylesheet", href="assets/styles/app.min.css")
  body
    .wrapper
      include ../includes/header.pug  
      .breadcrumbs
          ul.breadcrumbs_list
            li.breadcrumbs_list-item
              a(href="index.html").breadcrumbs_item-link Главная
            li.breadcrumbs_list-item
              a(href="services.html").breadcrumbs_item-link Услуги
            li.breadcrumbs_list-item
              .breadcrumbs_item-text Похоронный агент
      section.service-page
        .service-page_wrap
          .service-page_main
            .service-page_item-img
              img(src="assets/images/icons/information-symbol.svg", alt="services")
            .service-page_item-content
              .service-page_content-title Ритуальный агент в Днепре
              .service-page_content-text Смерть близкого человека очень часто выбивает из обычной жизни. В такой момент близким и родным очень тяжело заниматься самостоятельно всеми необходимыми делами для захоронения усопшего, так как для этого нужно учесть многие нюансы и успеть выполнить их в течение нескольких дней или даже часов. Для помощи родным в решении всех вопросов с захоронением усопшего работает ритуальная служба ЭДЕМ.
          .service-page_common-text
            div Ритуальный агент является специалистом своего дела и занимается полностью всей организации захоронения, куда входит:
            ul
              li выбор гроба, венков и всей необходимой атрибутики для захоронения;
              li подбор ритуальных крестов;
              li аренда транспорта для перевозки гроба;
              li получение всех необходимых документов для захоронения и получения пособия.
          ul.services-page_description
            li.services-page_description-title Услуги похоронного агента:
            li.services-page_description-item Приезд сотрудника в условленное время;
            li.services-page_description-item Подбор места захоронения или кладбища;
            li.services-page_description-item Выкопка ямы и закапывание гроба;
            li.services-page_description-item Подготовка обряда отпевания;
            li.services-page_description-item Доставка и приобретение вещей для усопшего;
            li.services-page_description-item Подготовка ритуальной трапезы и помощь выбора блюд при составлении меню поминок;
            li.services-page_description-item Помощь в организации или организация перевозки тела в морг и к месту захоронения;
            li.services-page_description-item Заказ трапезного кафе в удобном районе города;
            li.services-page_description-item Заказ услуги аренды автотранспорта для транспортировки людей на место захоронения и трапезный обед;
            li.services-page_description-item Оформление медицинского свидетельства о смерти из больницы и морга;
          .service-page_common-text
            div Также вызов ритуального агента в Днепре позволяет людям в сложную минуту сконцентрировать свое внимание на более важных делах, которые нужно решить в этот сложный момент, не забыв при этом ни о чем. При желании ритуальный агент готов сопровождать груз 200 и заниматься оформлением всей необходимой документации для перевозки на таможне, внутри страны и бесперебойной доставки тела к дому или месту захоронения. Также агент может даже договориться о постоянном уходе за могилой на местном кладбище.
      .form.form--product.form--service
          h4.form_title Оставьте заявку для заказа товара
          .form_content
            form(action="#", method="post").form_wrap
              .form_area
                  input(type="text" placeholder="Имя")
                  input(type="text" placeholder="Телефон")
                  textarea(name="#" placeholder="Комментарий")
                  button(type="submit").form_btn Отправить  
          p.form_footer Оставьте свои данные и мы свяжемся с вами в ближайшее время. 
      include ../includes/footer.pug   