<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Эдем || Услуги
    link(rel="stylesheet", href="assets/styles/app.min.css")
  body
    .wrapper
      include ../includes/header.pug  
      main.main
        section.services-main
          .services-main_title Чем мы можем Вам помочь
          ul.services-main_list
            li.services-main_list-item
              .services-main_list-item-decor
              .services-main_item-img
                img(src="assets/images/icons/information-symbol.svg", alt="services")
              .services-main_item-content
                .services-main_content-title Похоронный агент
                .services-main_content-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                a(href="services-page.html").services-main_content-btn подробнее
            li.services-main_list-item
              .services-main_list-item-decor
              .services-main_item-img
                img(src="assets/images/icons/grave.svg", alt="services")
              .services-main_item-content
                .services-main_content-title Организация охорон
                .services-main_content-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                a(href="#").services-main_content-btn подробнее
            li.services-main_list-item
              .services-main_list-item-decor
              .services-main_item-img
                img(src="assets/images/icons/hearse.svg", alt="services")
              .services-main_item-content
                .services-main_content-title Катафальные перевозки
                .services-main_content-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                a(href="#").services-main_content-btn подробнее
            li.services-main_list-item
              .services-main_list-item-decor
              .services-main_item-img
                img(src="assets/images/icons/ash.svg", alt="services")
              .services-main_item-content
                .services-main_content-title Кремация
                .services-main_content-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                a(href="#").services-main_content-btn подробнее
            li.services-main_list-item
              .services-main_list-item-decor
              .services-main_item-img
                img(src="assets/images/icons/charnel-house.svg", alt="services")
              .services-main_item-content
                .services-main_content-title Cвященнослужитель
                .services-main_content-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                a(href="#").services-main_content-btn подробнее
            li.services-main_list-item
              .services-main_list-item-decor
              .services-main_item-img
                img(src="assets/images/icons/contract.svg", alt="services")
              .services-main_item-content
                .services-main_content-title Прижизненный договор
                .services-main_content-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                a(href="#").services-main_content-btn подробнее
            li.services-main_list-item
              .services-main_list-item-decor
              .services-main_item-img
                img(src="assets/images/icons/help.svg", alt="services")
              .services-main_item-content
                .services-main_content-title Социальный пакет
                .services-main_content-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                a(href="#").services-main_content-btn подробнее
            li.services-main_list-item
              .services-main_list-item-decor
              .services-main_item-img
                img(src="assets/images/icons/dinner.svg", alt="services")
              .services-main_item-content
                .services-main_content-title Поминальная трапеза
                .services-main_content-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                a(href="#").services-main_content-btn подробнее
      include ../includes/footer.pug   