.form
  h4.form_title Остались вопросы?
  .form_content
    form(action="#", method="post").form_wrap
      .form_area
          input(type="text" placeholder="Имя")
          input(type="text" placeholder="Телефон")
          textarea(name="#" placeholder="Комментарий")
          button(type="submit").form_btn Отправить