.form
  h4.form_title Остались вопросы?
  .form_content
    form(action="form.php", method="post").form_wrap#form
      .form_area
          input(type="text" placeholder="Имя")
          input(type="text" placeholder="Телефон")
          textarea(name="#" placeholder="Комментарий")
          button(type="submit").form_btn Отправить
  p.form_footer Оставьте свои данные и мы свяжемся с вами в ближайшее время.