.product-categories
  ul.product-categories_wrap
    li.product-categories_item
      .product-categories_item-decor
      a(href="catalog-page_grob.html").product-categories_item-link
        img(src="assets/images/content/grob.png", alt="product")
        .product-categories_text Гробы
    li.product-categories_item
      .product-categories_item-decor
      a(href="catalog-page_venki.html").product-categories_item-link
        img(src="assets/images/content/venok.png", alt="product")
        .product-categories_text Венки
    li.product-categories_item
      .product-categories_item-decor
      a(href="catalog-page_krest.html").product-categories_item-link
        img(src="assets/images/content/crest.png", alt="product")
        .product-categories_text Кресты
    li.product-categories_item
      .product-categories_item-decor
      a(href="catalog-page_atributica.html").product-categories_item-link
        img(src="assets/images/content/atribyrt.png", alt="product")
        .product-categories_text Атрибутика
    li.product-categories_item
      .product-categories_item-decor
      a(href="catalog-page_odegda.html").product-categories_item-link
        img(src="assets/images/content/clothes.png", alt="product")
        .product-categories_text Одежда
    li.product-categories_item
      .product-categories_item-decor
      a(href="catalog-page_pamyatnik.html").product-categories_item-link
        img(src="assets/images/content/atribyrt.png", alt="product")
        .product-categories_text Памятники