footer.footer
  .footer_wrap
    .footer_item
      .footer_item-title Наши контакты
      ul.footer_item-list
        li.footer_item-link
          a(href="#") г.Днепр
        li.footer_item-link
          a(href="#") +380960241602
        li.footer_item-link
          a(href="#") example@mail.com
    .footer_item
      .footer_item-title Товары
      ul.footer_item-list
        li.footer_item-link
          a(href="#") Гробы
        li.footer_item-link
          a(href="#") Кресты
        li.footer_item-link
          a(href="#") Венки
        li.footer_item-link
          a(href="#") Атрибутика
    .footer_item
      .footer_item-title Услуги
      ul.footer_item-list.footer_item-list-catalog
        li.footer_item-link
          a(href="#") Похоронный агент
        li.footer_item-link
          a(href="#") Катафальные перевозки
        li.footer_item-link
          a(href="#") Прижизненный договор
        li.footer_item-link
          a(href="#") Организация похорон
        li.footer_item-link
          a(href="#") Поминальная трапеза
        li.footer_item-link
          a(href="#") Кремация
        li.footer_item-link
          a(href="#") Услуги священнослужителя
        li.footer_item-link
          a(href="#") Социальный пакет
  .footer_copyright
    a(href="#") Develop by AS. All rights reserved
script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
script(type='text/javascript', src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
script(src="assets/scripts/index-min.js")