.header {
  background: linear-gradient(180deg, #161B1F 0%, #35414B 100%);
  box-shadow: 0px 5px 20px rgba(50, 50, 50, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header_wrap {
  max-width: 1170px;
  padding: 8px 30px 8px 30px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_contact-list {
  padding: 0;
}


.header_list-item {
  list-style-type: none;
  position: relative;
  padding: 0 10px;
  cursor: pointer;

  &:hover {
    .header_list-item-decor {
      border-bottom: 7px solid #E6C292;
      border-left: 7px solid #E6C292;
    }

    .header_contact-link--color {
      color: #E6C292;
    }
  }
}

.header_list-item-decor {
  position: absolute;
  top: 5px;
  right: -20px;
  height: 0;
  width: 0px;
  border: 7px solid transparent;
  border-bottom: 7px solid #fff;
  border-left: 7px solid #fff;
  transform: rotate(45deg);
  transition: 0.3s;
}

.header_list-item-decor--active {
  transform: rotate(-45deg);
  top: 0;
  transition: 0.3s;
}

.header_contact-list-in {
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  padding: 0 20px;
  position: absolute;
  left: 0;
  top: 30px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.header_contact-list-in--active {
  opacity: 1;
  pointer-events: all;
  top: 55px;
  transition: 0.3s;
}

.header_list-in-item {
  list-style-type: none;
  padding: 12px 0;
  border-bottom: 1px solid #F2F2F2;

  .header_contact-link {
    color: #161B1F;
  }
}


.header_contact-link {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.header_contact-img {
  opacity: 1;
  transition: 0.3s;
}

.header_contact-link:hover {
  color: #E6C292;
  transition: 0.3s;
}

@media screen and (max-width: 1024px) {

  .header_contact {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;

  }


}

@media screen and (max-width: 769px) {
  .header_contact {
    margin: 0 auto;
  }

  .header_contact-img {
    opacity: 0;
  }

  .header_contact:hover {
    .header_contact-link {
      color: #E6C292;
      transition: 0.3s;
    }

    .header_contact-img {
      opacity: 0;
    }
  }
}




@media screen and (max-width: 650px) {
  .header_wrap {
    padding: 8px 10px 8px 10px;
  }
}

@media screen and (max-width: 480px) {
  .header_contact-link {
    margin-left: 3px;
  }

  .header_contact-list-in--active {
    top: 48px;
  }
}